@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #6969d4;
    --secondary: #4242b2;
    --white: #ffffff;
    --black: #000000;
    --liteWhite: #ffffffc3;
    --new: rgba(73, 22, 169, 0.321);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}

.iconImg {
    width: 50px;
    height: auto;
    object-fit: cover;
    margin-right: 1rem;
}

.miniIcon {
    width: 40px;
    height: auto;
    object-fit: cover;
    margin-right: 1rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexD {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    width: 100%;
    min-height: 100vh;
}


.home {
    padding: 2rem;
    padding-top: 4rem;
    /* background-image: linear-gradient(t/o top, #8fbef3 0%, #e1e8f0 20%); */
    width: 100%;
    min-height: 120vh;
    position: relative;
}

.shape {
    width: 600px;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: -10%;
}



.custom-shape-divider-bottom-1700839979 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1700839979 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 200px;
}

.custom-shape-divider-bottom-1700839979 .shape-fill {
    fill: var(--white);
}

.topbar {
    padding: 1rem;
    color: var(--white);
    border-radius: 5px;
    /* background: rgba(255, 255, 255, 0.39); */
    background-color: var(--primary);
    box-shadow: 8.0px 16.0px 16.0px hsla(0, 0%, 7%, 0.25);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 95%;
    position: absolute;
    top: 40px;
}

.topbar>h1 {
    font-weight: 600;
    font-size: 1.5vw;
}

.homeContent {
    width: 100%;
}

.homeLeft {
    padding: 1rem;
    width: 50%;
    text-align: center;

}

.homeRight {
    padding: 1rem;
    width: 50%;

}

.homeLeft>h1 {
    font-size: 3vw;
    line-height: 70px;
    margin: 1rem 0rem;
    width: 100%;
}

.homeLeft>h1>span {
    color: var(--secondary);
}

.subContent {
    width: 70%;
    margin-top: 2rem;
}

.subInnerContent {
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

.subInnerContent p {
    font-size: 1vw;
    font-weight: 400;
}

.subInnerContent p span {
    font-weight: 700;
}

.btn {
    width: 70%;
    background-color: var(--secondary);
    color: var(--white);
    padding: 1rem;
    margin: 2rem 0rem;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: .2s all ease-in;

}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

.btn h4 {
    font-size: 1vw;
}

.homeRight {
    justify-content: flex-start;
}

.homeRight img {
    width: 40vw;
    height: auto;
    object-fit: cover;
}

.homeLeft .payment {
    width: 30vw;
}

@media screen and (max-width: 1860px) {
    .home {
        padding-top: 8rem;
    }

    .subContent {
        width: 90%;
    }

    .btn {
        width: 90%;
    }
}

@media screen and (max-width: 1500px) {
    .home {
        padding-top: 8rem;
    }

    .subInnerContent {
        margin-bottom: 1rem;
    }

    .subInnerContent p {
        font-size: 1.3vw;
    }

    .subContent {
        margin-top: 1rem;
    }

    .homeLeft>h1 {
        font-size: 3.5vw;
        line-height: 60px;
    }

    .btn h4 {
        font-size: 1.3vw;
    }

    .homeRight img {
        width: 45vw;
    }
}

@media screen and (max-width: 1000px) {
    .home {
        padding-top: 10rem;
    }

    .homeContent {
        flex-direction: column-reverse;
    }

    .homeLeft {
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .subContent {
        margin-top: 1rem;
        width: 60%;
    }

    .subInnerContent {
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
    }

    .subInnerContent p {
        font-size: 1.8vw;
    }

    .homeLeft>h1 {
        font-size: 5vw;
        line-height: 50px;
    }

    .btn h4 {
        font-size: 1.6vw;
    }

    .homeRight img {
        width: 50vw;
    }

    .homeLeft .payment {
        width: 50vw;
    }

    .topbar h1 {
        font-size: 3vw;
    }
}

@media screen and (max-width: 700px) {
    .topbar img {
        width: 30px;
    }

    .home {
        min-height: 70vh;
    }

    .subContent {
        margin-top: 1rem;
        width: 90%;
    }

    .subInnerContent {
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
    }

    .subInnerContent p {
        font-size: 2.5vw;
    }

    .homeLeft>h1 {
        font-size: 6vw;
        line-height: 50px;
    }

    .btn h4 {
        font-size: 2.5vw;
    }

    .btn img {
        width: 25px;
    }

    .homeRight img {
        width: 50vw;
    }

    .homeLeft .payment {
        width: 70vw;
    }

    .homeRight {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .homeRight img {
        width: 70vw;
    }

    .btn {
        padding: .5rem;
    }

    .home {
        padding: 1rem;
        padding-top: 8rem;
    }

    .subContent {
        width: 100%;
    }

    .subInnerContent {
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
    }

    .subInnerContent img {
        width: 20px;
    }

    .subInnerContent p {
        font-size: 3vw;
    }

    .homeLeft>h1 {
        font-size: 6vw;
        line-height: 30px;
    }

    .btn h4 {
        font-size: 3vw;
    }

    .homeLeft .payment {
        width: 70vw;
    }
}

.about {
    width: 100%;
    min-height: 50vh;
    padding-bottom: 3rem;
}

.about .heading {
    font-size: 2vw;
    margin: 2rem 0rem 5rem 0rem;
}

.aboutWrapper {
    width: 70%;
    justify-content: flex-start;
    padding: 1rem;

}

.about .subContent {
    width: 60%;
}

.about .timeline {
    width: 6px;
    background-color: var(--primary);
    height: 550px;
    justify-content: space-between;
}

.timeline .line {
    width: 20px;
    height: 20px;
    background-color: var(--secondary);
    border-radius: 50%;
    position: relative;
    justify-content: flex-start;

}

.timeline .line .subInnerContent {
    position: absolute;
    transform: translate(50px, 10px);
    min-width: 1000px;
}

.line .subInnerContent p span {
    color: var(--secondary);
}

@media screen and (max-width: 1500px) {
    .aboutWrapper {
        width: 90%;
    }

    .about .timeline {
        height: 450px;
    }
    
    .line .subInnerContent img {
        width: 30px;
    }

    .about .timeline {
        width: 5px;
    }

    .timeline .line {
        width: 18px;
        height: 18px;
    }

    .about .heading {
        font-size: 2.5vw;
        margin: 2rem 0rem 3rem 0rem;
    }

}

@media screen and (max-width: 1100px) {

    .about .timeline {
        height: 370px;
    }

    .about .heading {
        font-size: 2.5vw;
        margin: 2rem 0rem 2rem 0rem;
    }

    .line .subInnerContent p {
        font-size: 1.5vw;
    }

    .about .subContent {
        width: 50%;
    }

    .timeline .line .subInnerContent {
        position: absolute;
        transform: translate(50px, 10px);
        min-width: 700px;
        text-align: left;
        transform: translate(30px, 10px);
    }

    .about .timeline {
        width: 5px;
        background-color: var(--primary);
    }

    .timeline .line {
        width: 17px;
        height: 17px;
        background-color: var(--secondary);
        border-radius: 50%;
        position: relative;
        justify-content: flex-start;

    }
}

@media screen and (max-width: 800px) {
    .about {
        padding: 1rem;
    }

    .aboutWrapper {
        width: 100%;
    }

    .about .heading {
        font-size: 3vw;
    }

    .about .timeline {
        height: 370px;
    }

    .line .subInnerContent img {
        width: 25px;
    }

    .about .heading {
        font-size: 3vw;
        margin: 2rem 0rem 2rem 0rem;
    }

    .line .subInnerContent p {
        font-size: 2vw;
    }

    .about .subContent {
        width: 50%;
    }

    .timeline .line .subInnerContent {
        position: absolute;
        transform: translate(60px, 10px);
        min-width: 500px;
        text-align: left;
        transform: translate(30px, 10px);
    }

    .about .timeline {
        width: 5px;
        background-color: var(--primary);
    }

    .timeline .line {
        width: 17px;
        height: 17px;
        background-color: var(--secondary);
        border-radius: 50%;
        position: relative;
        justify-content: flex-start;

    }
}

@media screen and (max-width: 570px) {
    .about {
        padding: 1rem;
    }

    .aboutWrapper {
        width: 100%;
    }

    .about .timeline {
        height: 300px;
    }

    .line .subInnerContent img {
        width: 25px;
    }

    .about .heading {
        font-size: 4vw;
        margin: 2rem 0rem 2rem 0rem;
    }

    .line .subInnerContent p {
        font-size: 2.5vw;
    }

    .about .subContent {
        width: 50%;
    }

    .timeline .line .subInnerContent {
        position: absolute;
        transform: translate(60px, 10px);
        min-width: 80vw;
        text-align: left;
        transform: translate(30px, 10px);
    }

    .about .timeline {
        width: 4px;
        background-color: var(--primary);
    }

    .timeline .line {
        width: 14px;
        height: 14px;
        background-color: var(--secondary);
        border-radius: 50%;
        position: relative;
        justify-content: flex-start;

    }
}

.bonusContainer {
    width: 100%;
    min-height: 80vh;
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
}

.bonusContainer::before {
    background-color: var(--secondary);
    position: absolute;
    content: "kain";
    width: 200%;
    height: 300%;
    z-index: -1;
    transform: rotate(65deg) translate(50%, 0%);
    border-radius: 100px;

}

.bonusHeading {
    border-bottom: 5px solid var(--primary);
    width: 10%;
    font-size: 2vw;
    margin-bottom: 2rem;
}

.bonuscontent {
    margin: 1rem;
    margin-top: 3rem;
    font-size: 2.5vw;
}

.bonuscontent span {
    color: var(--primary);
}

.bonusContainer p {
    font-size: 1.3vw;
    font-weight: 500;
}

.bonusContainer img {
    width: 40vw;

}
@media screen and (max-width:1500px) {
    .bonusHeading {
        margin-bottom: 1rem;
    }
    .bonuscontent {
        margin: 1rem;
    }
}
@media screen and (max-width:1100px) {
    .bonusContainer img {
        width: 60vw;
    
    }
    .bonuscontent {
        font-size: 3.5vw;
    }
    .bonusHeading{
        font-size: 3vw;
        width: 20%;
    }
    .bonuscontent span {
        color: var(--primary);
    }
    
    .bonusContainer p {
        font-size: 1.8vw;
    }
    
   
}

@media screen and (max-width:700px) {
    .bonusContainer{
        min-height: 60vh;
    }
    .bonusContainer img {
        width: 70vw;
    
    }
    .bonuscontent {
        font-size: 4vw;
        margin: 1rem;
    }
    .bonusHeading{
        font-size: 4vw;
        width: 20%;
    }
    .bonuscontent span {
        color: var(--primary);
    }
    
    .bonusContainer p {
        font-size: 2.5vw;
    }
    .bonusContainer::before {
        transform: rotate(62deg) translate(50%, 0%);
    
    }
   
}
@media screen and (max-width:500px) {
    .bonusContainer{
        min-height: 50vh;
    }
    .bonusContainer img {
        width: 90vw;
    
    }
    .bonuscontent {
        font-size: 5vw;
        margin: .5rem;

    }
    .bonusHeading{
        font-size: 5vw;
        width: 20%;
    }
    .bonuscontent span {
        color: var(--primary);
    }
    
    .bonusContainer p {
        font-size: 3vw;
        margin: 0rem;
    }
    
   
}